body {
	background-color: ghostwhite;
	margin: 0 auto;
	color: black;
}

/* navbar */
.navbar {
/*	background-color: ;*/
}

/* stye for icon */
#icon-desc {
	font-size: 5rem;
	padding-top: 2rem;
}

/* weather display*/
#description {
	font-size: 2rem;
}

#temperature {
	font-size: 7rem;
}

#icon-thermometer {
	font-size: 4rem;
<<<<<<< HEAD
}
=======

>>>>>>> 1ae79c9de5f1033aeddf6cea4d16ed3732ccf02c
