body {
	background-color: ghostwhite;
	margin: 0 auto;
	color: black;
}

/* navbar */
.navbar {
/*	background-color: ;*/
}

/* stye for icon */
#icon-desc {
	font-size: 5rem;
	padding-top: 2rem;
}

/* weather display*/
#description {
	font-size: 2rem;
}

#temperature {
	font-size: 7rem;
}

#icon-thermometer {
	font-size: 4rem;
}
#map {
	height: 500px;
	width: 100%;
}
